@import "./reset.css";

body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.stageContainer {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 8vh;
  border-bottom: 0.1vh black solid;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.stageContainer_label{
  width: 15%;
  font-size: 3vh;
  font-weight: 900;
  text-align: center;
}
#gameZone {
  margin-top: 9vh;
  border: 0.1vh black solid;
}
